.lottoball-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
}

.lottoball-broad-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.lottoball-yellow {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  border-radius: 100%;

  font-size: 14px;
  color: white;

  background-color: rgb(238, 170, 26);
}

.lottoball-blue {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  border-radius: 100%;

  font-size: 14px;
  color: white;

  background-color: rgb(56, 93, 156);
}

.lottoball-red {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  border-radius: 100%;

  font-size: 14px;
  color: white;

  background-color: rgb(212, 54, 14);
}

.lottoball-gray {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  border-radius: 100%;

  font-size: 14px;
  color: white;

  background-color: rgb(127, 131, 147);
}

.lottoball-green {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  border-radius: 100%;

  font-size: 14px;
  color: white;

  background-color: rgb(29, 182, 59);
}
