#purchase-price-input {
  width: 100px;
  height: 32px;

  border: 1px solid #b4b4b4;
  border-radius: 4px;
}
#purchase-price-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
