body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #f9f9f9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 550px;
  height: 750px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;

  margin-top: 30px;
}

h1 {
  margin-top: 52px;

  font-size: 34px;
  font-weight: 600;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-top: 5px;
}

/* id */

#purchase-price-input {
  width: 100px;
  height: 32px;

  border: 1px solid #b4b4b4;
  border-radius: 4px;
}
#purchase-price-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

#lotto-number-form {
  display: flex;
  flex-direction: column;
}

#lotto-number-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.lotto-number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 1px solid gray;
  border-radius: 5px;

  background-color: white;

  cursor: pointer;
}

#purchase-amount-select {
  width: 100px;
  height: 34px;
}

.selected {
  color: white;
  background-color: #00bcd4;
}

#lotto-number-onoff__radio {
  position: absolute;

  top: 20px;
  right: 0px;
}

#lotto-number-list__div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 250px;

  margin-top: 8px;

  background-color: red;
}

/*  */

#result-confirm__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 382px;
  height: 36px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #00bcd4;

  cursor: pointer;
}
#result-confirm__button:disabled {
  filter: brightness(60%);
  cursor: default;
}
#result-confirm__button:hover:enabled {
  filter: brightness(110%);
}
#result-confirm__button:active:enabled {
  filter: brightness(120%);
}

/* className */

.default-form {
  width: 382px;

  margin-top: 30px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.margin-top {
  margin-top: 10px;
}

.visible-hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}
