body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #f9f9f9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 550px;
  height: 750px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;

  margin-top: 30px;
}

h1 {
  margin-top: 52px;

  font-size: 34px;
  font-weight: 600;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-top: 5px;
}

/* id */

#lotto-number-form {
  display: flex;
  flex-direction: column;
}

#lotto-number-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;

  width: 100%;
}

#selected-lotto-number-container {
  font-size: 24px;
  font-weight: 200;
  color: #00bcd4;
}

#confirmed-lotto-number {
  width: 300px;
  height: 150px;

  padding: 5px;

  border: 1px solid #00bcd4;
  border-radius: 5px;

  overflow-y: scroll;
}

#purchase-amount-select {
  width: 100px;
  height: 34px;
}

#lotto-number-onoff__radio {
  position: absolute;

  top: 20px;
  right: 0px;
}

#lotto-number-list__div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 250px;

  margin-top: 8px;

  background-color: red;
}

/* className */
.lotto-number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 1px solid gray;
  border-radius: 5px;

  background-color: white;

  cursor: pointer;
}

.selected {
  color: white;
  background-color: #00bcd4;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.display-none {
  display: none;
}

.clicked {
  background-color: #00bcd4;
  opacity: 0.9;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.24);
}
