main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #f9f9f9;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;

  margin-top: 10px;
}

h1 {
  margin-top: 52px;
  margin-bottom: 10px;

  font-size: 34px;
  font-weight: 600;
}

h2 {
  margin-top: 40px;

  font-size: 24px;
  font-weight: 500;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-top: 5px;
}

/* id */

#scrapped-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 20%;
  min-width: 350px;
  max-width: 400px;
  height: 650px;

  gap: 20px;

  margin: 0 0 0 5%;
}

#lotto-section {
  width: 50%;
  min-width: 500px;
  max-width: 600px;
  height: 750px;

  margin: 0;
}

#purchased-lotto-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 20%;
  min-width: 350px;
  max-width: 400px;
  height: 650px;

  gap: 20px;

  margin: 0 5% 0 0;
}

#lotto-round-container {
  display: flex;
  gap: 40px;

  width: 100%;
  height: 100%;

  margin-bottom: 40px;
}

#lotto-number-confirmed-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;

  margin-bottom: 40px;
  padding: 50px 0;
  gap: 50px;

  overflow-y: auto;
}

#lotto-number-form {
  display: flex;
  flex-direction: column;
}

#lotto-number-wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;

  width: 100%;
}

#selected-lotto-number-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 160px;

  font-size: 24px;
  font-weight: 200;
}

#confirmed-lotto-number {
  width: 400px;
  height: 200px;

  padding: 5px;
}

#purchase-amount-select {
  width: 100px;
  height: 34px;
}

/* className */

.lotto-number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 1px solid gray;
  border-radius: 5px;

  background-color: white;

  cursor: pointer;
}

.selected {
  color: white;
  background-color: #00bcd4;
}

.font-bold {
  font-size: 18px;
  font-weight: 600;
}

.font-normal {
  font-size: 16px;
  font-weight: 500;
}

.font-lighter {
  font-size: 14px;
  font-weight: 400;
}

.display-none {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.selected-div {
  height: 30px;
}

.selected-inner-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;

  margin: 0 10px;
}

.clicked {
  background-color: #00bcd4;
  opacity: 0.9;
}

.disabled {
  background-color: rgba(0, 0, 0, 0.24);
}
